# PRACTICAL WORK 
********************
********************
********************
Proposed by 

__PATRICK VALDURIEZ & CARLYNA BONDIOMBOUY__

IMSP-INRIA
********************
********************
********************


## Exercise 1 (Food Center dataset)

### Create dataframes

Spark DataFrame provides a domain-specific language for structured data manipulation. This language includes methods we can concatenate in order to do selection, filtering, grouping, etc

In [ ]:
# import pyspark class Row from module sql
from pyspark.sql import *

# Create  FoodCenters - Departments and Employees

# Create the FoodCenters

foodcenter1 = Row(id='0000', name='Sunny Gas Meat', location='No. 24, Oba Market Road, B/C.')
foodcenter2 = Row(id='0001', name='Mrs. Ozede Meat Shop', location='No. 12, Ekp;enede Street, B/C.')
foodcenter3 = Row(id='0002', name='Mrs Ebbuzugbe Ice-Cream Shop', location='No. 10 Old Uguanogbe Street, B/C.')
foodcenter4 = Row(id='0003', name='C. O. Meat Shop', location='No. 22, O ba Market Road, B/C.')
foodcenter5 = Row(id='0004', name='Mrs. Omorodion', location='No. 22, O ba Market Road, B/C.')
foodcenter6 = Row(id='0005', name='B. B. Meat Shop', location='No. 5, Oba M arket Roiad, B/C.')
foodcenter7 = Row(id='0006', name='Destiny Meat Shop', location='No. 24, Oba Market Road, B/C.')
foodcenter8 = Row(id='0007', name='Sunday Meat Shoip', location='No. 11, Oba Market Road, B/C.')
foodcenter9 = Row(id='0008', name='Mrs Omoregie Meat Shop', location='No. 18C, Oba Market Road, B/C.')
foodcenter10 = Row(id='0009', name='F. O. Meat Shop', location='No. 18C, Oba Market Road, B/C.')
foodcenter11 = Row(id='0010', name='Pat O. Meat Shop', location='Oba Market Road, B/C.')
foodcenter12 = Row(id='0011', name='Mrs Adeban jo Meat Shop', location='No. 22, O ba Market Road, B/C.')

# Create the Employees
Employee = Row("firstName", "lastName", "email", "salary")
employee1 = Employee('Ogbe', 'Oronsaye', 'no-reply@sunny.org', 100000)
employee2 = Employee('Uyiosa', 'Idehen', 'no-reply@shop.fr', 120000)
employee3 = Employee('Igbinosa', 'Bello', 'no-reply@jo.edu', 140000)
employee4 = Employee('Abeni', 'Davies', 'no-reply@gas.com', 160000)
employee5 = Employee('Oriafo', 'Wendell', 'no-reply@porto.fr', 200000)
employee6 = Employee('Osigbemhe', 'Koutchanou', 'no-reply@nigeria.org', 180000)
employee7 = Employee('Bello', 'Ogbeide', 'no-reply@baker.com', 100000)
employee8 = Employee('Adizie', 'Solomon', 'no-reply@abejan.com', 170000)
employee9 = Employee('Adolor', 'Aiwerioba', 'no-reply@cmr.org', 150000)
employee10 = Employee('Ambrose', 'Anegbette', 'no-reply@tofa.com', 170000)
employee11 = Employee('Dagbala', 'Ebelle', 'no-reply@ghana.org', 130000)
employee12 = Employee('Oriafo', 'Edokpolo', 'no-reply@cameroon.org', 150000)

# Create the FoodcentersWithEmployees instances from foodcenters and employees
foodcenterWithEmployees1 = Row(foodcenter=foodcenter1, employees=[employee1, employee2])
foodcenterWithEmployees2 = Row(foodcenter=foodcenter2, employees=[employee3, employee4])
foodcentertWithEmployees3 = Row(foodcenter=foodcenter3, employees=[employee1, employee4])
foodcenterWithEmployees4 = Row(foodcenter=foodcenter4, employees=[employee2, employee3])
foodcenterWithEmployees5 = Row(foodcenter=foodcenter5, employees=[employee5, employee6])
foodcenterWithEmployees6 = Row(foodcenter=foodcenter6, employees=[employee7, employee8])
foodcenterWithEmployees7 = Row(foodcenter=foodcenter7, employees=[employee9, employee10])
foodcenterWithEmployees8 = Row(foodcenter=foodcenter8, employees=[employee11, employee3])
foodcenterWithEmployees9 = Row(foodcenter=foodcenter9, employees=[employee12, employee6])
foodcenterWithEmployees10 = Row(foodcenter=foodcenter10, employees=[employee10, employee11])
foodcenterWithEmployees11 = Row(foodcenter=foodcenter11, employees=[employee9, employee12])
foodcenterWithEmployees12 = Row(foodcenter=foodcenter11, employees=[employee7, employee10])

print (foodcenterWithEmployees12)
print("       ")
print (foodcenter10)
print("       ")
print (employee1)
print("       ")
print (foodcenterWithEmployees1.employees[0].email)

In [ ]:
foodcenterWithEmployees_Seq = [foodcenterWithEmployees1, foodcenterWithEmployees2]
dframe = spark.createDataFrame(foodcenterWithEmployees_Seq)
display(dframe)
#dframe.show()

In [55]:
from pyspark import  SparkContext
from pyspark.sql import *
sc = SparkContext.getOrCreate()

food_df = spark.read.csv("C://Users/carlyna.bondiombouy/Desktop/Benin/foodcenter.csv", inferSchema = True, header = True)
display(food_df)
food_df.show()

DataFrame[NAME : string, LOCATION: string]

+--------------------+--------------------+
|               NAME |            LOCATION|
+--------------------+--------------------+
|        Lisbor Hotel|No. 4, Sokponba R...|
|    Matice Fast Food|No. 12, Sokponba ...|
|       Vesa Sea Food|100A, Off Sokponb...|
|     Debbies Kitchen|No. 61, Sokponba,...|
|           Mrs. Owen|No. 73B, 2nd East...|
| Mama Rita Cold Room|Sokponba by 2nd E...|
|Mrs. UY Fried and...|Evbarune , Gbefo ...|
| Eddyibanga Int. Ltd|                null|
|Farmers Shopping ...|No. 78, Sokponba ...|
|The Phimas Garden...|No. 3, Obazuina S...|
|   Usama Ivory Hotel|No. 169, 1st East...|
|Two Sisters  Cold...|No. 105, Sokponba...|
|Mama Enoghayin Co...|No. 105, Sokponba...|
|Clement Uyiekpen ...|No. 73B, 2nd East...|
|      Rito Cold Room|No. 105, Sokponba...|
|     Efifa Cold Room|No. 105, Sokponba...|
| Christy Guest House|No. 106, Sokponba...|
| Sunday M. Meat Shop|No. 11, Oba Marke...|
|     G.T.I Meat Shop|No. 25 & 26, Oba ...|
| Judgement MeAT Shop|No. 11, Oba Marke...|
+--------------------+--------------------+
only showing top 20 rows

### Schema of DataFrame

The printSchema method enables to have a look at the schema, i.e. the structure of the DataFrame.

In [53]:
food_df.printSchema()

root
 |-- _c0: string (nullable = true)

### Rows and columns description

We want to have a look at the names and a count of the number of rows and columns of a particular DataFrame:

In [54]:

food_df.columns #Column Names

len(food_df.columns) #Column Count

1

In [19]:
food_df.count() #Row Count

637

In [20]:
food_df.columns #Column Names

['NAME ', 'LOCATION']

In [37]:
food_df.describe().show()

+-------+-------------+--------------------+
|summary|        NAME |            LOCATION|
+-------+-------------+--------------------+
|  count|          637|                 620|
|   mean|         null|                null|
| stddev|         null|                null|
|    min|  Food Outlet| 2, Ogbelaka Stre...|
|    max|western Hotel|km 8, Benin Sapel...|
+-------+-------------+--------------------+

In [42]:
food_df.describe('LOCATION').show()

+-------+--------------------+
|summary|            LOCATION|
+-------+--------------------+
|  count|                 620|
|   mean|                null|
| stddev|                null|
|    min| 2, Ogbelaka Stre...|
|    max|km 8, Benin Sapel...|
+-------+--------------------+

### Select clause

In [47]:
food_df.select('LOCATION').show()

+--------------------+
|            LOCATION|
+--------------------+
|No. 4, Sokponba R...|
|No. 12, Sokponba ...|
|100A, Off Sokponb...|
|No. 61, Sokponba,...|
|No. 73B, 2nd East...|
|Sokponba by 2nd E...|
|Evbarune , Gbefo ...|
|                null|
|No. 78, Sokponba ...|
|No. 3, Obazuina S...|
|No. 169, 1st East...|
|No. 105, Sokponba...|
|No. 105, Sokponba...|
|No. 73B, 2nd East...|
|No. 105, Sokponba...|
|No. 105, Sokponba...|
|No. 106, Sokponba...|
|No. 11, Oba Marke...|
|No. 25 & 26, Oba ...|
|No. 11, Oba Marke...|
+--------------------+
only showing top 20 rows

In [50]:
food_df.select('LOCATION').distinct().show()

+--------------------+
|            LOCATION|
+--------------------+
|Sapele Road, Beni...|
|Mela motel Road, B/c|
|51, Arenzen Str. ...|
|8, Edokpolor Fact...|
|No. 74, Ihama Rd,...|
|No. 107, St. Savi...|
|No. 31, Dumez Roa...|
|No. 1,  Yoruba st...|
|70, Airport Road,...|
|37, Costain Road ...|
|124, Upper Sakpon...|
|11b, Ikpokpan Ave...|
|No. 167B, Uselu- ...|
|  Downson Rd, B/City|
|9, Owoseni Street...|
|No. 205, upper si...|
|75, Benin-Auchi R...|
|50, T.V Road,  Be...|
|No. 6, 1st ofumwe...|
|No 110, Sakpomba ...|
+--------------------+
only showing top 20 rows

### Filter the dataframe

filters the DataFrame based on the condition that LOCATION must be equal to 'No. 24, Oba Market Road, B/C.' and calculates how many records/rows are there in the filtered output.

In [60]:
food_df.filter(food_df.LOCATION=='No. 24, Oba Market Road, B/C.').show()
food_df.filter(food_df.LOCATION=='No. 24, Oba Market Road, B/C.').count()  #enables to get the count

+------------------+--------------------+
|             NAME |            LOCATION|
+------------------+--------------------+
|   Omeka Meat Shop|No. 24, Oba Marke...|
|    Uzee Meat Shop|No. 24, Oba Marke...|
|      Godfrey Meat|No. 24, Oba Marke...|
|    Sunny Gas Meat|No. 24, Oba Marke...|
| Destiny Meat Shop|No. 24, Oba Marke...|
|Mr. Tofa Meat Shop|No. 24, Oba Marke...|
|       OTF NI Meat|No. 24, Oba Marke...|
+------------------+--------------------+

7

In [62]:
food_df.filter((food_df.LOCATION=="No. 4, Sokponba Road, B/C.")).show()

+------------+--------------------+
|       NAME |            LOCATION|
+------------+--------------------+
|Lisbor Hotel|No. 4, Sokponba R...|
+------------+--------------------+

### Sorting data

In [63]:
food_df.orderBy(food_df.LOCATION).show()

+--------------------+--------------------+
|               NAME |            LOCATION|
+--------------------+--------------------+
| Eddyibanga Int. Ltd|                null|
|   Iyayi Table Water|                null|
|   Egede Food Centre|                null|
|      Bright Kitchen|                null|
|Honey Rainbow Bakery|                null|
|       Wantan Garden|                null|
|    Mana Table Water|                null|
|Talk of the City ...|                null|
| Blessed Edo Bakery |                null|
|      Car Wash & Bar|                null|
|        Aso Time Bar|                null|
|     Chemijar Hotel |                null|
|Florence Imolorhe...|                null|
|  Elegance Hotel LTD|                null|
|Theresa Restauran...|                null|
|    2+2 Guest House |                null|
|Morning Glory Bakery|                null|
|     Ohallic NIG.LTD| 2, Ogbelaka Stre...|
| MRS Owens Cold Room| 73, 2nd East Cir...|
|  Odia Sea Fish Food| No. 35, Airport ...|
+--------------------+--------------------+
only showing top 20 rows

### Exercise 2 (orphanage home dataset)

Load the data in the same way as we did earlier.

In [82]:
from pyspark import  SparkContext
from pyspark.sql import *
sc = SparkContext.getOrCreate()

home_df  = spark.read.csv("C://Users/carlyna.bondiombouy/Desktop/Benin/orphanagehome.csv", inferSchema = True, header = True)
display(home_df)
home_df.show()

DataFrame[NAME : string, ORGANIZATION: string, PHONE NUMBER: string, DETAILED ADDRESS OF ORGANIZATION.: string, L: string, NO. OF MALE ORPHAN: string, NO. OF FEMALE ORPHAN: string, TOTAL NUMBER: string]

+--------------------+--------------------+------------+---------------------------------+---------------+------------------+--------------------+------------+
|               NAME |        ORGANIZATION|PHONE NUMBER|DETAILED ADDRESS OF ORGANIZATION.|              L|NO. OF MALE ORPHAN|NO. OF FEMALE ORPHAN|TOTAL NUMBER|
+--------------------+--------------------+------------+---------------------------------+---------------+------------------+--------------------+------------+
|    Mrs. Esther Ogbe| Edo Orphanage Home.|  8060427189|             Usama Street, Ben...|          Oredo|                10|                  30|          40|
|Princess Kate  Or...|Oronsaye Orphanag...|  8030779086|             81, Owina Street,...|          Oredo|                13|                  11|          24|
|        Madam Uyiosa|Uyiosa Orphanage ...|  8037672769|             No. 2, Obayagbony...|    Ikpoba-Okha|                 6|                  15|          21|
|          Sir Idehen|Corner-Stone of H...|  8057493900|             No. 9, Omorogbe S...|           Egor|                 5|                   9|          14|
|Pastor & Mrs F.U....|Compassion Orphan...|  8166827290|             Assemblies Camp S...|          Oredo|                12|                  14|          26|
|       Mrs. G. Bello|Amadin Orphanage ...|  8037934090|             123/140, Lagos St...|          Oredo|                20|                  22|          42|
|         Madam Abeni|Abeni Orphanage H...|           -|             No. 40, Federal R...|          Oredo|                20|                  15|          35|
|        Madam Davies|No. 2 , James Ogb...|  8102445746|             Street off Ogbemu...|    Ikpoba-Okha|                 2|                   8|          10|
|          Dr. Oriafo|Good Luck Orphanage.|  8053143881|             Dr. Oriafo Medica...|Esan North East|                 0|                   1|           1|
|       Dr. Osigbemhe|Good will Orphana...|  8053973990|             99, Igbe Road, Au...|    Etsako West|                 2|                   2|           4|
|Evangelist  Edokh...|Christ Family Orp...|  8070575919|             Otoukwe Quarters,...|    Etsako East|                 5|                   8|          13|
|     Mrs. D. Ogbeide|Omosefe Orphanage...|  8036108613|             No. 4, Bello Osag...|          Oredo|                 4|                   5|           9|
|Rev. Fr. Denian A...|Holy Spirit (Mary...|  8076635886|             Egoro-Amede, Ekpoma.|      Esan west|                13|                  11|          24|
|  Solomon Folorunsho|International Chr...|  8033441246|              No. 45, Umanmwen...|           Egor|                64|                 119|         183|
|       Mrs. M. Abulu|Courage Orphanage...|  8052729401|             PHCN, Power line ...|      Esan West|                 2|                   3|           5|
|     Sir & Lady Cole|Sir & Lady Cole O...|  8033600178|             T.V. Road, Benin ...|          Oredo|                 4|                  12|          16|
|     Mrs. C.I. Edoka|God�s Love Orphan...|  8037751062|             Okugi  Village, O...|    Etsako East|                11|                   4|          15|
|Rev. Fr. Adolphus...|Mary Immaculate C...|  8085477973|             Behind St. Michae...|    Ikpoba Okha|                 9|                  20|          29|
|Rev. Fr. John Bos...|Catholic Chess Pr...|  8053000203|             No. 1, Ezehi Aven...|Esan North East|                33|                  32|          65|
|Grace  Iyonawan O...|Grace  Iyonawan  ...|  8102445746|             Plot 200, Scotty ...|    Ikpoba Okha|                 2|                   1|           3|
+--------------------+--------------------+------------+---------------------------------+---------------+------------------+--------------------+------------+
only showing top 20 rows

### Filtering data

In [78]:
home_df.filter(home_df.L == 'Oredo').count()

8

In [83]:
home_df.filter(home_df.ORGANIZATION == 'Uyiosa Orphanage Home.').count()

1

### Grouping the data

In [85]:
home_df = home_df.groupby("L")\
.count()\
.show()

+---------------+-----+
|              L|count|
+---------------+-----+
|          Oredo|    8|
|    Etsako West|    2|
|           Egor|    3|
|     Owan  East|    1|
|   Ikpoba �hill|    1|
|    Etsako East|    2|
|      Akoko-Edo|    1|
|    Ikpoba-Okha|    2|
|              -|    1|
| Etsako Central|    1|
|      Esan West|    1|
|      Esan west|    1|
|Esan North East|    2|
|   Estasko East|    1|
|    Ikpoba Okha|    2|
+---------------+-----+